$mainBgColor: rgb(71, 67, 67);

body {
  .error {
    color: orange;
  }
  background-color: $mainBgColor;

  form {
    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;

    div {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      flex-basis: 100%;
    }
    input {
      cursor: pointer;
      background-color: orange;
    }
  }
}
