$mainBgColor: rgb(71, 67, 67);

body {
  font-family: 'Vina Sans', sans-serif;
  color: wheat;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 100;

  .error {
    color: orange;
  }

  background-color: $mainBgColor;

  form {

    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;

    a {

      margin: 0 auto;
      padding: 10px 20px;
      text-decoration: none;
      background-color: orange;
      color: #fff;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    div {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      flex-basis: 100%;
    }

    input {
      cursor: pointer;
      background-color: orange;
      padding: 10px;
      text-transform: uppercase;
      font-family: 'Times New Roman', Times, serif;
      margin: 5px;
    }

    .submit {

      display: inline-block;
      padding: 15px 15px;
      text-decoration: none;
      background-color: orange;
      color: #fff;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
}




.btn:hover {
  cursor: pointer;
}