main .formContainer form .signUp, main .midSectionButton, header ul li {
  font-size: 16px;
  border-radius: 80px;
  font-weight: 400;
  line-height: 26px;
  width: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 23px;
  padding-right: 22px;
  height: 34px;
  background-color: rgb(244, 224, 65);
  border-radius: 80px;
}
main .formContainer form .signUp a, main .midSectionButton a, header ul li a {
  display: block;
  width: 58px;
  height: 26px;
}

body {
  font-family: "Nunito", sans-serif;
}
body input:focus {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header .headerTopDiv {
  height: 65px;
  width: 100%;
  background-color: #000000;
}
header .headerLogo {
  margin-top: 17.8px;
  margin-bottom: 17px;
  max-height: 26px;
}
header .headerLogo img {
  width: 104px;
  height: 26px;
  padding-left: 4px;
}
header .headerLogo:hover {
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header ul:hover {
  cursor: pointer;
}
header ul {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 17px;
  margin-right: -4px;
}
header ul li:nth-child(1) {
  margin-right: 10px;
  padding-left: 29px;
  padding-right: 29px;
}
header ul li:nth-child(1) a {
  display: block;
  width: 42px;
  height: 26px;
}

main .midSection {
  min-height: 646px;
  background-image: url("../assets/Rectangle 29.png");
  background-size: cover;
  max-width: 1170px;
}
main .midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .midSectionHeaderW {
  font-size: 40px;
  max-width: 380px;
  max-height: 80px;
  font-weight: 400;
  margin-top: 159px;
  margin-bottom: 21px;
  line-height: 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 0%;
}
main .midSectionSubTextW {
  max-width: 380px;
  max-height: 156px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
}
main .midSectionButton {
  margin-top: 32px;
}
main .midSectionButton:hover {
  cursor: pointer;
}
main .midInfoBlock {
  margin-top: 140px;
  min-height: 711px;
}
main .infoBlockHeader {
  margin: 0 auto;
  padding-left: 11px;
  max-width: 904px;
  min-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
main .wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .midInfoCardBlock {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 254px 254px;
  gap: 29px;
}
main .midInfoCardBlock .cardSubBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .midInfoCardBlock .cardSubBlock img {
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 15px;
}
main .midInfoCardBlock .cardSubBlock P {
  margin-left: 4px;
  margin-top: 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  font-family: Nunito;
}
main .midInfoCardBlock .cardSubBlock p:nth-child(1) {
  margin-bottom: 20px;
}
main .cardSubBtn {
  margin: 0 auto;
  width: 120px;
  height: 34px;
  border-radius: 80px;
  margin-top: 45px;
  background: rgb(244, 224, 65);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
main .cardSubBtn a {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 83px;
  height: 26px;
}
main .formSection {
  margin-top: 140px;
}
main .formContainer {
  max-width: 380px;
  margin: 0 auto;
  margin-top: 50px;
}
main .formContainer .uploadSection {
  display: flex;
  flex-direction: row;
  max-width: 380px;
  min-height: 54px;
  margin-top: 44px;
  margin-left: 5px;
}
main .formContainer .uploadSection input[type=button] {
  max-width: 83px;
  font-family: Nunito;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
}
main .formContainer .uploadSection label {
  border: 1px solid rgb(208, 207, 207);
  padding-left: 16px;
  width: 100%;
  border-radius: 4px;
}
main .formContainer .uploadSection label p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(126, 126, 126);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  height: 26px;
  width: 134px;
}
main .formContainer .result {
  margin-top: 50px;
  color: green;
  display: flex;
  flex-direction: column;
}
main .formContainer .result div {
  margin-top: 10px;
  text-align: center;
}
main .formContainer form {
  display: flex;
  flex-direction: column;
}
main .formContainer form .errorDiv {
  margin-left: 10px;
  padding-left: 12px;
  width: 380px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: red;
}
main .formContainer form .erorrShow {
  display: block;
}
main .formContainer form .email {
  margin-bottom: 50px;
  margin-top: 50px;
}
main .formContainer form div {
  display: flex;
  flex-direction: column;
}
main .formContainer form #uploadedImage {
  margin-left: 3px;
  max-width: 380px;
  display: none;
}
main .formContainer form .signUp {
  margin-top: 42px;
  margin-left: 150px;
  background: rgb(180, 180, 180);
  color: rgba(255, 255, 255, 0.87);
}
main .formContainer form .signUp:hover {
  cursor: pointer;
}
main .formContainer form .formMidSection {
  /*
  input[type="email"] {
      margin-bottom: 50px;
      margin-top: 50px;
  }
  */
}
main .formContainer form .formMidSection input {
  margin-left: 10px;
  margin-top: -4px;
  padding-left: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 380px;
  height: 54px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
main .formContainer form .formPositionGroup {
  margin-top: 48px;
  margin-left: 9px;
}
main .formContainer form .formPositionGroup div {
  margin-top: 7px;
  margin-left: 1px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
main .formContainer form .formPositionGroup div input[type=radio] {
  display: none;
}
main .formContainer form .formPositionGroup div input[type=radio] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 26px;
  color: #333;
}
main .formContainer form .formPositionGroup div input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 150%;
  border: 2px solid #00bcd4;
  background-color: #fff;
}
main .formContainer form .formPositionGroup div input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00bcd4;
}/*# sourceMappingURL=main.css.map */