//!Adaptive styles

//!   1024
@media only screen and (max-width:1024px) {

    header .headerTopDiv {
        height: 62px;

    }

    .container {
        max-width: none;
        margin: 0 auto;

        nav {

            max-height: 57px;
        }

        .headerLogo {
            margin-left: 58px;
        }

        ul {
            margin-right: 40px;
            margin-top: 12px;
        }

        .navigationHeader {
            margin-right: 60px;
        }

        .midSection {
            max-width: none;
        }

        .midInfoCardBlock {

            grid-template-columns: 282px 282px 282px;

        }

        .midSectionHeaderW {
            margin-top: 166px;
        }


        .wrapper {
            max-width: 904px;
        }

        .innerCardBlock {


            p {

                padding-bottom: -5px;
            }
        }

        .cardSubBlock {
            margin-left: 6px;
            margin-top: 9px;
        }

        .formContainer {
            form {


                .uploadSection {
                    margin-top: 50px;
                    margin-left: 9px;
                }

                .signUp {
                    margin-top: 55px;

                }
            }
        }
    }



}


//!   768
@media only screen and (max-width:768px) {

    .container {

        max-width: 768px;
        margin: 0 auto;

        nav {
            ul {
                margin-right: 10px;
            }
        }

        .headerLogo {
            margin-left: 34px;
        }

        .navigationHeader {
            margin-right: 32px;
        }

        .midSection {
            max-width: none;
            min-height: 500px;
        }

        .midSectionHeaderW {
            margin-top: 89px;

        }

        .midInfoCardBlock {

            grid-template-columns: 344px 344px;
            gap: 16px;
        }

        .cardSubBtn {
            margin-top: 42px;



        }

        .telEphone {
            margin-bottom: 20px;
        }

        .innerCardBlock {


            p {
                padding-bottom: -2px;
            }
        }

        .formContainer {
            form {
                .signUp {
                    margin-top: 45px;
                }
            }
        }

    }
}

//!   360
@media only screen and (max-width:360px) {
    .container {
        max-width: 360px;
        margin: 0 auto;

        .headerLogo {
            margin-left: 16px;
        }

        .cardSubBtn {

            margin-top: 60px;
        }

        .navigationHeader {
            margin-left: 14px;
        }

        .midSectionHeaderW {
            margin-top: 40px;
            max-width: 328px;
            min-height: 120px;
            margin-bottom: 21px;
        }

        .midSectionSubTextW {

            max-width: 328px;
            min-height: 182px;
        }

        .midInfoCardBlock {

            grid-template-columns: 344px;
            gap: 20px;
        }

        .infoBlockHeader {
            max-width: 328px;
        }

        .telEphone {
            margin-bottom: 20px;
        }

        .cardSubBlock {
            p {
                max-width: 288px;

            }


        }

        nav {
            ul {
                margin-right: 5px;
            }
        }

        .innerCardBlock {
            margin-bottom: -9px;
        }


        .formContainer {
            form {
                .formPositionGroup {
                    div {
                        margin-top: 7px;
                        margin-left: 8px;
                    }
                }

                .errorDiv {
                    width: 320px;
                }

                .uploadSection {
                    margin-top: 45px;
                    margin-left: 15px;
                }

                .signUp {
                    margin-left: 130px;
                }

                .formMidSection {


                    input {
                        width: 328px;
                    }
                }

            }
        }


    }


}